#favourites-container{
  margin: 0% 5% 0% 5%;
}

#my_favourites{
  font-size: 1.5rem;
  margin: 1rem;
}

.view_listing_button {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #3779fd;
  color: white;
  margin: 5px;
}

.view_listing_button:hover {
  background-color: #ddd;
}

.favourite-item {
  margin: 10px;
  padding: 10px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}
