#search__container {
  padding: 10px 10px 10px 0px;
}

#searchbar__input {
  height: 40px;
  width: 80%;
  font-size: 18px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.sidebar {
  width: 15%;
  height: 100vh;
  padding: 20px;
  position: fixed;
  border: 2px solid lightgrey;
}

.main-content {
  margin-left: 15%;
  padding: 20px;
}

.listing__container {
  display: flex;
  list-style: none;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.listing__item {
  display: flex;
  align-items: center; /* Center items on the cross axis */
}

.pic {
  height: 100px;
  width: 100px;
}

.info {
  margin-left: 20px; /* Add margin to separate the logo and info */
}

.listing__details {
  display: flex;
  flex-direction: column;
}
