#search__container {
  padding: 10px 10px 10px 0px;
}

#searchbar__input {
  height: 40px;
  width: 80%;
  font-size: 18px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 10px;
}

.sidebar {
  width: 15%;
  height: 100%;
  padding: 20px;
  position: fixed;
  border-right: 1px solid lightgrey;
}

#filter_by {
  margin-bottom: 5px;
}

#filterFt {
  margin: 5px;
}

#filterPt {
  margin: 5px;
}

.main-content {
  margin-left: 15%;
  padding: 20px;
  margin-bottom: 5rem;
}

.listing__container {
  display: flex;
  list-style: none;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.listing__item {
  display: flex;
  align-items: center; /* Center items on the cross axis */
}

.pic {
  height: 100px;
  width: 100px;
}

.info {
  margin-left: 20px; /* Add margin to separate the logo and info */
}

.listing__details {
  display: flex;
  flex-direction: column;
}

.button__container {
  margin: 5px 5px 5px 0px;
}

.viewListing {
  text-decoration: none;
  border: 1px solid rgb(131, 131, 131);
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  padding: 1px;
}

.viewListing:hover {
  background-color: #248eff;
}

@media screen and (max-width: 600px){
  #filter_by{
    font-size: 1rem;
  }

  .sidebar{
    padding: 5px;
    width: 20%;
  }

  .main-content{
    margin-left: 20%;
  }

  .filterName{
    font-size: 0.8rem;
  }


}
